.container-main-clientes {
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
    background-color: #F8F8F9;
}

.container-input-search {
    position: relative;
    width: 320px;
    height: 45px;
}

.container-input-search img {
    position: absolute;
    height: 17px;
    top: 11px;
    right: 10px;
}

.container-right-search button {
    height: 36px;
    width: 267px;
    background-color: #DA0175;
    border: none;
    border-radius: 11px;
    color: white;
}

.container-right-search {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 660px;
}

.container-left-search {
    display: flex;
    align-items: center;
    width: 50%;
    gap: 10px;
}

.container-left-search img {
    height: 32px;
    width: 32px;
}

.container-left-search h1 {
    font-size: 26px;
    font-weight: 600;
}

.container-search {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

img {
    cursor: pointer;
}

.container-details {
    padding: 15px 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-search {
    box-shadow: 0.5px 0.5px 3px 0.5px #F5A8D0;
    border-radius: 5px;
}

.table-clients {
    max-height: 750px;
    overflow-y: auto;
    background-color: #FFFFFF;
    border-radius: 30px;
    height: 720px;

    @media screen and (max-width: 1400px) {
        max-height: 570px;
        overflow: auto;
    }
}