.main-detalhar-cliente {
    display: flex;
    min-width: 100%;
    background-color: #F8F8F9;
}

.container-detalhar-cliente {
    width: 100%;
    height: 100vh;
}

.container-detalhes-cliente {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px 100px;
}

.table-client-details {
    max-height: 450px;
    overflow-y: auto;
    background-color: #FFFFFF;
    border-radius: 30px;
    height: 430px;

    @media screen and (max-width: 1400px) {
        max-height: 265px;
        overflow: auto;
    }

}